{% extends 'base.html' %}

{% block content %}  

<br>
<h1 style="font-size:2vw;color:palevioletred;text-align:center">Add Task</h1>
<br>

        <form method="POST" >  
            {% csrf_token %}  
            <table style="background-color:lavenderblush;margin-left:auto;margin-right:auto">  
                {{ form.as_table }}  
                <tr>  
                    <td></td>
                    <td><input type="submit" name="submit" value="Create"/></td>  
                </tr>  
            </table>  
        </form>

{% endblock content %}