{% extends 'base.html' %}

{% block meta %}
<title>Login</title>
{% endblock meta %}

{% block content %}

<div class = "login">

    <br>
    <h1 style="font-size:2vw;color:palevioletred;text-align:center">Login</h1>
    <br>

    <form method="POST" action="">
        {% csrf_token %}
        <table style="background-color:lavenderblush;margin-left:auto;margin-right:auto">
            <tr>
                <td>Username: </td>
                <td><input type="text" name="username" placeholder="Username" class="form-control"></td>
            </tr>
                    
            <tr>
                <td>Password: </td>
                <td><input type="password" name="password" placeholder="Password" class="form-control"></td>
            </tr>

            <tr>
                <td></td>
                <td><input class="btn login_btn" type="submit" value="Login"></td>
            </tr>
            
        </table>
    </form>

    <br>
    {% if messages %}
        <ul>
            {% for message in messages %}
                <li style="text-align:center;">{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}     
    
    <p style="text-align:center">Belum mempunyai akun? <a href="{% url 'todolist:register' %}">Buat Akun</a>

</div>

{% endblock content %}